.App {
    text-align: center;
}

.App-header {
    text-align: center;
    height: 100px;
    padding-top: 40px;
}

.sidebar {
    width: 30vw;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.main {
    width: 60vw;
    display: inline-block;
}

.notes-list, .folders-list {
    list-style: none;
}

.folders-list-item {
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}

.notes-list-item {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.selected {
    background-color: aqua;
}