body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  text-align: center;
  height: 100px;
  padding-top: 40px;
}

.sidebar {
  width: 30vw;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.main {
  width: 60vw;
  display: inline-block;
}

.notes-list, .folders-list {
  list-style: none;
}

.folders-list-item {
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}

.notes-list-item {
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.selected {
  background-color: aqua;
}

a {
  text-decoration: none;
  color: black;
}

.add-link, .submit-button {
  background-color: greenyellow;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid darkgreen;
}

.submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

input {
  border: 1px solid black;
  padding: 10px;
}

select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-container {
  border: 1px solid black;
  text-align: center;
}

.folders-list-item:hover {
  background-color: lightblue;
}

.folder-title {
  border: 1px solid black;
  margin-right: 20px;
}

.delete-button {
  background-color: red;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid darkred;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.back-button {
  background-color: rgb(183, 218, 248);
  border: 1px solid darkblue;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 15px;
}